In [28]:
import pandas as pd

# Load the dataset
file_path = "lung_cancer_data.csv"
df = pd.read_csv(file_path)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23658 entries, 0 to 23657
Data columns (total 38 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Patient_ID                        23658 non-null  object
 1   Age                               23658 non-null  int64
 2   Gender                            23658 non-null  object
 3   Smoking_History                   23658 non-null  object
 4   Tumor_Size_mm                     23658 non-null  float64
 5   Tumor_Location                    23658 non-null  object
 6   Stage                             23658 non-null  object
 7   Treatment                         23658 non-null  object
 8   Survival_Months                   23658 non-null  int64
 9   Ethnicity                         23658 non-null  object
 10  Insurance_Type                    23658 non-null  object
 11  Family_History                    23658 non-null  object
 12  Comorbidity_Diabetes              23658 non-null  object
 13  Comorbidity_Hypertension          23658 non-null  object
 14  Comorbidity_Heart_Disease         23658 non-null  object
 15  Comorbidity_Chronic_Lung_Disease  23658 non-null  object
 16  Comorbidity_Kidney_Disease        23658 non-null  object
 17  Comorbidity_Autoimmune_Disease    23658 non-null  object
 18  Comorbidity_Other                 23658 non-null  object
 19  Performance_Status                23658 non-null  int64
 20  Blood_Pressure_Systolic           23658 non-null  int64
 21  Blood_Pressure_Diastolic          23658 non-null  int64
 22  Blood_Pressure_Pulse              23658 non-null  int64
 23  Hemoglobin_Level                  23658 non-null  float64
 24  White_Blood_Cell_Count            23658 non-null  float64
 25  Platelet_Count                    23658 non-null  float64
 26  Albumin_Level                     23658 non-null  float64
 27  Alkaline_Phosphatase_Level        23658 non-null  float64
 28  Alanine_Aminotransferase_Level    23658 non-null  float64
 29  Aspartate_Aminotransferase_Level  23658 non-null  float64
 30  Creatinine_Level                  23658 non-null  float64
 31  LDH_Level                         23658 non-null  float64
 32  Calcium_Level                     23658 non-null  float64
 33  Phosphorus_Level                  23658 non-null  float64
 34  Glucose_Level                     23658 non-null  float64
 35  Potassium_Level                   23658 non-null  float64
 36  Sodium_Level                      23658 non-null  float64
 37  Smoking_Pack_Years                23658 non-null  float64
dtypes: float64(16), int64(6), object(16)
memory usage: 6.9+ MB

In [30]:
df.head()

,Patient_ID,Age,Gender,Smoking_History,Tumor_Size_mm,Tumor_Location,Stage,Treatment,Survival_Months,Ethnicity,...,Alanine_Aminotransferase_Level,Aspartate_Aminotransferase_Level,Creatinine_Level,LDH_Level,Calcium_Level,Phosphorus_Level,Glucose_Level,Potassium_Level,Sodium_Level,Smoking_Pack_Years
0,Patient0000,68,Male,Current Smoker,81.678677,Lower Lobe,Stage III,Surgery,44,Hispanic,...,27.985571,46.801214,1.245849,239.240255,10.366307,3.547734,113.919243,4.968163,139.822861,17.006956
1,Patient0001,58,Male,Never Smoked,78.448272,Lower Lobe,Stage I,Radiation Therapy,101,Caucasian,...,30.120956,39.711531,1.463231,233.515237,10.081731,2.945020,101.321578,3.896795,135.449361,93.270893
2,Patient0002,44,Male,Former Smoker,67.714305,Lower Lobe,Stage I,Chemotherapy,69,African American,...,5.882418,32.640602,0.630109,169.037460,8.660892,4.637399,78.214177,4.369050,143.377155,70.348376
3,Patient0003,72,Male,Current Smoker,70.806008,Lower Lobe,Stage III,Chemotherapy,95,African American,...,38.908154,44.319393,0.594342,213.967590,8.832669,3.617098,127.895361,4.348474,138.586005,19.828128
4,Patient0004,37,Female,Never Smoked,87.272433,Lower Lobe,Stage IV,Radiation Therapy,105,Asian,...,26.344877,15.746906,1.478239,118.187543,9.247609,4.773255,148.801185,3.671976,141.230724,81.047456

In [31]:
# drop identifier column
df_clean = df.drop(columns=["Patient_ID"])

In [32]:
# categorical columns
categorical_cols = df_clean.select_dtypes(include=["object"]).columns

In [33]:
from sklearn.preprocessing import LabelEncoder

# apply label encoding 
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df_clean[col] = le.fit_transform(df_clean[col])
    label_encoders[col] = le

In [35]:
df_clean

,Age,Gender,Smoking_History,Tumor_Size_mm,Tumor_Location,Stage,Treatment,Survival_Months,Ethnicity,Insurance_Type,...,Alanine_Aminotransferase_Level,Aspartate_Aminotransferase_Level,Creatinine_Level,LDH_Level,Calcium_Level,Phosphorus_Level,Glucose_Level,Potassium_Level,Sodium_Level,Smoking_Pack_Years
0,68,1,0,81.678677,0,2,2,44,3,1,...,27.985571,46.801214,1.245849,239.240255,10.366307,3.547734,113.919243,4.968163,139.822861,17.006956
1,58,1,2,78.448272,0,0,1,101,2,3,...,30.120956,39.711531,1.463231,233.515237,10.081731,2.945020,101.321578,3.896795,135.449361,93.270893
2,44,1,1,67.714305,0,0,0,69,0,2,...,5.882418,32.640602,0.630109,169.037460,8.660892,4.637399,78.214177,4.369050,143.377155,70.348376
3,72,1,0,70.806008,0,2,0,95,0,1,...,38.908154,44.319393,0.594342,213.967590,8.832669,3.617098,127.895361,4.348474,138.586005,19.828128
4,37,0,2,87.272433,0,3,1,105,1,0,...,26.344877,15.746906,1.478239,118.187543,9.247609,4.773255,148.801185,3.671976,141.230724,81.047456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23653,45,1,1,91.279410,1,0,0,16,2,3,...,21.218709,37.642878,1.469665,203.209056,9.011784,3.083901,121.588210,3.874261,138.004367,8.877173
23654,31,1,0,45.139048,2,3,1,81,1,2,...,6.439687,45.747460,1.432533,245.095566,10.192073,4.571803,129.748104,4.635774,137.883562,33.573249
23655,74,1,1,89.640323,2,3,0,52,1,3,...,6.974531,20.982553,0.855960,214.793918,9.617543,4.877552,129.414306,3.730363,138.813953,26.893648
23656,47,0,1,45.770358,1,0,1,26,0,1,...,21.817365,43.457246,0.824516,138.947588,8.239170,2.885529,127.647028,3.799932,139.706111,26.387602
23657,64,1,1,13.460912,2,0,0,1,4,1,...,13.473113,37.588167,0.652503,166.011540,9.467378,3.432123,114.734285,4.688588,135.223702,37.972540